Vive les kiwis
<script type="text/javascript">
    var test = {
        "azDataType": "Locality",
        "iDataType": 5,
        "oDivision": {
            "azParam": "Township",
            "iType": 4,
            "azDivision": "Niederanven",
            "idParent": 22,
            "idDivision": 95
        },
        "aData": [
            {
                "azLabel": "SENNINGEN",
                "id": 25
            },
            {
                "azLabel": "NIEDERANVEN",
                "id": 26
            },
            {
                "azLabel": "OBERANVEN",
                "id": 197
            },
            {
                "azLabel": "HOSTERT (NIEDERANVEN)",
                "id": 293
            },
            {
                "azLabel": "RAMELDANGE"
                , "id": 305
            },
            {
                "azLabel": "SENNINGERBERG",
                "id": 311
            },
            {
                "azLabel": "ERNSTER",
                "id": 334
            },
            {
                "azLabel": "STAFFELSTEIN",
                "id": 451
            },
            {
                "azLabel": "WALDHOF",
                "id": 489
            }
        ],
        "azMessage": ""
        , "iResult": 1
    }
</script>