@-ms-viewport{ width: auto !important; }

body, .mobile-side-menu, #offers-section, .menu-links-wrapper{
    background-color: $white;
}
svg:not(:root) {
    overflow: visible;
}

// COLOR CLASS
// -----------------------------------------------------------------------------
.orange
{
    color: $orange !important;
}
.white
{
    color: $white !important;
}
.blue{
    color: $blue !important;
}
.grey{
    color: $dark-grey !important;
}
.red{
    color: #DC0000 !important;
}

// FONT STYLE
//------------------------------------------------------------------------------
h2{
    margin: 0 0 20px;
    font-size: 1.8em;
    font-weight: 600;
}

.uppercase{
    text-transform: uppercase;
}

.bold{
    font-weight: 600;
}
.extra-bold{
    font-weight: 800;
}

// LAYOUT/CONTAINER
//------------------------------------------------------------------------------
section{
    padding: 30px 0;
}
.absolute-vertical-align-middle
{
    @include vertical-align-middle(absolute);
}
.vertical-align-middle{
    @include vertical-align-middle();
}
.disable-vertical-align-middle{
    @include disable-vertical-align();
}
.display-flex-align-middle{
    display: flex; /* contexte sur le parent */
    flex-direction: row; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
}

.align-left{text-align: left !important;}
.align-right{text-align: right !important;}
.align-center{text-align: center !important;}

.item-spread{
    @include spread-element();
}

.annonce-img{
    .fill-height{
        width: auto;
        max-width: 100%;
        height: 100%;
    }
    .fill-width{
        height: auto;
        max-height: 100%;
        width: 100%;
    }
}
.return, .result{
    display: block;
    font-size: 1.15em;
    margin-bottom: 15px;
}
.return{
    color: #004994;
    font-weight: 600;
    span[class^="icon-"]{
        display: inline-block;
        font-size: 0.55em;
        padding-right: 5px;
    }
}

// MENU MOBILE
//------------------------------------------------------------------------------
#siteWrap{
    position: relative;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;

    background-color: $white;
    -webkit-transition: -webkit-transform 0.4s ease; /* Changed here */ 
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;
    &.open{
        @include transform(translateX(-247px));
        border-right: 1px solid $light-grey;
    }
}

//menu mobile
.mobile-side-menu{
    list-style: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    //panneau base + sous-menu de liens glissants
    .menu, .menu-links{
        display: inline-block;
        float: right;
        width: 247px;
        text-align: left;
        .menu-item{
            display: block;
            position: relative;
            color: #004994;
            font-size: 14px;
            font-weight: 600;
            /* text-transform: uppercase; */
            border-bottom: 1px solid #F3F3F3;
            cursor: pointer;
            .icon-right-arrow{
                float: right;
                margin: 0;
                font-size: 10px;
                position: relative;
                top: 3px;
            }
            &:hover, &:active{
                background-color: darken($light-grey, 1%);
            }
            &.link{
                padding: 0;
                a{
                    display: block;
                    padding: 16px 20px;
                }
            }
        }
        .sous-nav{
            background-color: darken($light-grey, 6%);
            .menu-item{
                padding: 12px 20px;
                text-align: left;
                color: #696969;
                font-size: 13px;
                &.link{
                    padding: 0;
                    a{
                        display: block;
                        padding: 12px 20px;
                    }
                }
            }
        }
    }
    .menu>.menu-item, .menu-item.back{
        padding: 16px 20px;
    }
    .menu-links{
        a{
            display: block;
            padding: 16px 20px;
        }
    }
    //layout des sous menus
    .menu-links-wrapper{
        position: absolute;
        display: block;
        height: 100%;
        top: 0;
        right: -247px;
        @include transform(translateX(0px));
        -webkit-transition: -webkit-transform 0.4s ease; /* Changed here */ 
        -moz-transition: -moz-transform 0.4s ease;
        -o-transition: -o-transform 0.4s ease;
        transition: transform 0.4s ease;
        &.is-open{
            @include transform(translateX(-247px));
        }
        .menu-item.back{
            text-align: left;
            color: $white;
            background-color: $blue;
            border-bottom: 2px solid $blue;
            span{
                float: left;
                top: 1px;
                margin-right: 5px;
                @include transform(rotate(180deg));
            }
        }
    }
}
header{
    margin-bottom: 30px;
}

// HEADER
//------------------------------------------------------------------------------

header{
    @include box-shadow(0px 2px 20px -5px rgba(0,0,0,0.3));
    .header-upper, .header-bottom{
        display: block;
        position: relative;
    }
    .header-upper{
        background-color: $blue;
        color: $white;
        height: 35px;
    }
    .header-bottom{
        padding: 15px 0;
        &.mobile{
            .btn-blue, .btn-orange, .btn-white{
                display: inline;
                width: 35px;
                height: 35px;
                line-height: 37px;
                float: left;
                padding: 0;
                margin: 0;
                text-align: center;
                border-radius: 5px;
                font-size: 14px;
                span{
                    margin: 0;
                }
            }
        }
    }
    .header-upper-nav{
        display: inline-block;
        position: relative;
    }
    .header-bottom{
        background-color: $white;
        color: $blue;
    }
    .header-bottom.mobile .header-mobile-button{
        .btn-blue, .btn-orange{
            font-size: 13px;
        }
        .btn-white{
            font-size: 16px;
        }
        a:not(:last-child){
            margin-right: 10px;
        }
    }
    #language-selection{ 
        li{
            color: $white;
            opacity: 0.7;
            font-size: 1.075em;
            &.active, &:hover{
                opacity: 1;
            }
        }
    }
    .header-upper-nav{
        height: 100%;
        &.left{
            float: left;
            text-align: left;
        }
        &.right{
            float: right;
            text-align: right;
            ul{max-width: 140px;}
        }
        ul{
            display: block;
            height: 100%;
            @include spread-element(420px);
        }
        li{
            display: inline-block;
            text-align: center;
            line-height: 35px; 
            &:hover{
                text-decoration: underline;
            }
        }
        .separator{
            color: rgba(255, 255, 255, 0.1) !important;
        }
    }
    .login-nav{
        text-align: right;
        ul{
            display: block;
            color: $blue;
            font-size: 1.05em;
            font-weight: 400;
        }
        li{
            display: inline-block;
            text-align: center;
            line-height: 20px;
            @include transition($transitionUi);
            &:not(:last-child){margin-right: 30px;}
            &:hover{
                color: $orange;
            }
            a{line-height: 20px;}
        }
    }
    #header-bottom-main{
        height: 55px;
    }
    .main-nav, .logo{
        display: inline-block;
    }
    .logo{
        height: auto;
        width: 150px;
        img{height: auto; width: 100%;}
    }
    .main-nav{
        position: relative;
        font-size: 1.35em;
        font-weight: 600;
        li{
            display: inline-block;
            text-align: center;
            line-height: normal;
            @include transition($transitionUi);
            &:hover{
                color: $orange;
            }
            &.active{
                color: $orange;
                text-decoration: underline;
            }
        }
    }
}
//SEARCH BANNER
//------------------------------------------------------------------------------

.search-banner{
    position: relative;
    display: block;
    height: 430px;
    margin-top: -30px; 
    background-image: url(../../images/Img/homepage/search-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .row{
        height: 100%;
    }
}
.search-banner-box{
    position: relative;
    display: block;
    width: 100%;
    @include vertical-align-middle(absolute);
    padding: 15px 20px 5px;
    background-color: $white;
    border-radius: $border-radius - 2;
    h2{
        position: absolute;
        display: block;
        margin: 0;
        top: -35px;
        color: $white;
    }
}

// LOGIN
// -----------------------------------------------------------------------------

#login{
    position: relative;
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 4px;
    text-align: center;
    width: 310px;
    margin: 0 auto;
    margin-top: 3%;
    .login-image{
        width: 100%;
        img{width: 100%; height: auto; max-width: 100%;}
    }
    .input-group{
        min-height: auto;
        margin: 0;
        input{width: 100%;}
        &:first-child{
            margin-bottom: 15px;
        }
    }
    .btn-orange{
        width: 100%;
        height: 40px;
        line-height: 35px;
        padding: 0;
        font-size: 1.3em;
    }
    .login-link{
        color: $blue;
        line-height: 15px;
        &:hover{
            text-decoration: underline;
        }
    }
}

// HOMEPAGE
//------------------------------------------------------------------------------
.about-section{
    h2{font-size: 1.6em;}
    p{
        line-height: 20px;
        font-size: 1.05em;
    }
}

// FOOTER
//------------------------------------------------------------------------------
.content:after{
    content: "";
    display: block;
}
footer, .content:after{
    height: 300px;
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px 0;
    background-color: $blue;
    background-image: url(../../images/Img/BG_Ville.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
}

footer .footer-links{
    font-size: 12px;
    margin: auto;
    p{
        margin: 0;
        margin-top: 5px;
        color: $white;
        font-size: 1.1em;
    }
    h3{
        margin: 0 0 15px;
        color: $orange;
        font-size: 1.3em;
        font-weight: 800;
    }
    ul{
        color: $white;
        font-size: 1em;
    }
    li{
        display: block;
        line-height: 18px;
    }
    li:hover{
        text-decoration: underline;
    }
    img{
        display: block;
    }
}
// BUTTONS
// -----------------------------------------------------------------------------

@mixin btn{
    font-size: 15px;
    font-weight: 600;

    position: relative;

    display: inline-block;

    margin: 3px 0;
    padding: 8px 15px;

    cursor: pointer;
    -webkit-transition: $transitionUi;
    transition: $transitionUi;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    border: 1px solid transparent;
    border-radius: $border-radius;
    background-image: none;

    z-index: 2;

    @include noselect();
    *[class^="icon-"]{
        display: inline-block;
        margin-right: 5px;
        font-size: 1.5em;
    }
    &:focus
        {
        outline: 0;
    }
    &:hover,
        &:focus
        {
        text-decoration: none;
    }
}
.btn-blue,
.btn-orange,
.btn-grey, 
.btn-white
{
    @include btn;
}
.btn-orange{
    color: $white;
    background-color: $orange;
    &:hover:not([disabled]){
        background-color: lighten($orange, 5%);
    }
}
.btn-blue{
    color: $white;
    background-color: $blue;
    &:hover:not([disabled]){
        background-color: lighten($blue, 5%);
    }
}
@mixin btn-o($color, $bg-color){
    @include btn;
    color: $color;
    background-color: $bg-color;
    border: 2px solid $color;
    span[class^="icon-"]{font-size: inherit; top: 2px;}
    &:hover:not([disabled]){
        background-color: $color;
        color: $bg-color;
    }
}
.btn-white{
    color: $blue;
    background-color: $white;
    &:hover:not([disabled]){
        background-color: $blue;
        color: $white;
    }
}
.btn-grey{
    color: $white;
    background-color: $btn-grey;
    font-weight: 600;
    padding: 10px 15px;
    font-size: 1.05em;
    text-transform: uppercase;
    &:hover{
        background-color: darken($btn-grey, 10%);
    }
}

.btn-o-blue{
    @include btn-o($blue, $white);
}

.immo-link{
    color: $dark-grey;
    text-decoration: underline;
    font-style: italic;
    font-size: 1.1em;
    span{color: $orange; text-decoration: underline;}
}

//INPUT
//------------------------------------------------------------------------------

label, .input-group h4{
    color: $blue;
    font-size: 1.1em;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}
.input-group{
    display: block;
    position: relative;
    min-height: 67px;
    margin-bottom: 15px;
    label, label+*{
        display: block;
        position: relative;
        width: 100%;
    }
    &.search-bar{
        display: table;
        height: 43px;
        width: 100%;
        border-collapse: collapse;
        table-layout: auto;
        min-height: auto;

        .search-bar-select, .search-bar-input{
            box-sizing: content-box;
            display: table-cell;
            vertical-align: middle;
            height: 100%;

        }
        .search-bar-select{
            width: 110px;
        }
        select, input{
            width: 100%;
            height: 100%;
        }
        select{
            border-radius: 4px 0 0 4px;
        }
        input{
            border: 1px solid $grey;
            border-radius: 0 4px 4px 0;
            border-left: none;
        }
    }
}
input, select{padding-left: 15px;}
select{
    border-radius: 4px;
    border: 1px solid $grey;
    height: 43px;
    background-color: $light-grey;
    cursor: pointer;
    color: $dark-grey;
    font-weight: 600;
    font-size: 1.1em;
    padding-right: 15px;
}
input[type="text"], input[type="password"], textarea {
    border-radius: 4px;
    border: 1px solid $grey;
    background-color: $light-grey;
    cursor: pointer;
    color: $dark-grey;
    font-weight: 600;
    font-size: 1.1em;
}
input[type="text"], input[type="password"]{
    height: 43px;
}
.radioboxes{
    height: 43px;
    line-height: 43px;
    .radiobox{
        label{color: $dark-grey;}
        display: inline-block;
        input{
            margin-right: 7px;
            position: relative;
            top: 2px;
        }
        &:first-child{
            margin-right: 15px;
        }
    }
}
.radiobox{
    input, label{display: inline;}
}

#annonce-details-right{
    input[type="text"], textarea{
        height: 40px;
        width: 100%;
        padding: 0 10px;
        font-weight: 400;
    }
    textarea{
        height: 125px;
        resize:vertical;
        padding: 0 10px;
        padding-top: 10px;
    }
    .group-input+.group-input{
        margin-top: 5px;
    }
    p{text-align: left;}
}

//GALLERY CELL
//----------------------------------------------------------------------------
.immo-main-gallery{
    .flickity-prev-next-button{
        margin: 0 -40px;
        background: none;
    }
    .flickity-prev-next-button:focus{
        @include box-shadow(none);
    }

    .flickity-prev-next-button .arrow {
        fill: $blue;
    }
    .flickity-prev-next-button.no-svg {
        color: $blue;
    }
}

.gallery-cell{width: 50%; padding: 0 20px;}
.immo-main-annonce{
    display: table;
    width: 100%;
    border: 1px solid $grey;
    border-radius: $border-radius;
    padding: 7px 0;

    .data, .meta{
        display: table-cell;
        text-align: center;
    }
    .data{
        vertical-align: top;
        width: 65%;
        border-right: 1px solid $grey;
        padding: 0 5px;
    }
    .meta{
        vertical-align: middle;
        padding: 25px 20px;
    }
    .btn-grey{
        width: 100%;
        padding: 12px 15px;
        padding-left: 25px;
        *[class^="icon-"]{
            @include vertical-align-middle(absolute);
            left: 15px;
            line-height: 17px;
        }
    }
}
.annonce-slider-item-img-container {
    position: relative;
    display: block;
    width: 100%;
    background-color: $light-grey;
    margin-bottom: 15px;
}
.image-container {
    display: inline-block;
    position: relative;
    height: 265px;
    width: 100%;
    overflow: hidden;
}
.image-container .img-annonce {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
.info-container{
    font-size: 1.3em;
    line-height: 23px;
    .label{span{display: block;}}
    .price{
        font-size: 1.6em;
        font-weight: 600;
        line-height: 40px;
        color: $orange;
    }
}
.logo-container{
    text-align: center;
    img{ display: inline-block; height: 100%; width: auto; max-width: 100%;}
}
.address{
    margin: 20px 0;
    p{margin: 0;line-height: 23px; font-size: 1.1em; text-align: center !important;}
}


/*-------------------------------ANNONCE DETAILS------------------------------*/
/*----------------------------------------------------------------------------*/

#annonce-details-left, #annonce-details-right, .pannel{
    @include pannel;
    margin-bottom: 20px;
}
#annonce-details-left, #annonce-details-right{
    border: 1px solid rgba(218, 218, 218, 0.6);
}

#annonce-details-left{
    .annonce-details-images-container{
        display: table;
        position: relative;
        position: relative;
        width: 100%;
        z-index: 1;
    }
    .annonce-details-image-main, .annonce-details-thumbnails-container{
        display: block;
        width: 100%;
        margin: 0;
    }
    .annonce-details-thumbnails-container {
        overflow: hidden;
        overflow-x: scroll;
        height: 150px;
        .gallery-cell{
            display: inline;
            width: 25%;
            height: 100%;
        }
        a, .annonce_entry_image_thumbnails_pic{height: 100%;}
    }
}
.search-container{
    display: block;
    position: relative;
    max-width: 320px;
    margin: 0 auto;
}
.pannel, #annonce-details-right{
    padding: 20px 5px;
    border: 1px solid rgba(218, 218, 218, 0.6);
    .annonce-details-user-container{
        display: block;
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        div{
            display: inline-block;
            width: 100%;
        }
    }
    .logo{
        img{
            height: auto;
            width: 100%;
        }
    }
    .address{
        margin: 10px 0;
    }
    .btn-blue{
        text-transform: uppercase;
        line-height: 40px;
        padding: 0;
        *[class^="icon-"]{
            position: relative;
            font-size: 1.3em;
            top: 4px;
            margin-right: 10px;
        }
    }
    .annonce-buttons{
        a:first-child{
            margin-bottom: 10px;
        }
        a{width: 100%;}
    }
}

#annonce-infos{
    display: block;
    position: relative;
    padding: 0 15px;
}

.annonce-title{
    margin: 10px 0;
    font-size: 20px;
    h1{
        font-weight: 400;
        font-size: inherit; 
        color: darken($dark-grey, 20%); 
        margin: 0;
        width: 100%;
        line-height: 24px;
        /*white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;*/
        .location{text-transform: uppercase;}
    }
    h1+div{margin-top: 8px;}
    .annonce-price{color: $orange; font-weight: 600; font-size: 1em;}
    .annonce-ref{
        font-size: 0.75em;
    }
}
.annonce-description, .infos-attributs{
    color: darken($dark-grey, 17%);
    font-size: 1.02em;
    line-height: 20px;
}
.annonce-description{
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    margin: 20px 0;
    p{margin: 20px 0}
}

.infos-attributs{
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #dadada;
    div[class^="phone-"], .pull-left{
        margin-bottom: 5px;
    }
    .list{
        display: inline-block;
        @include clearfix;
        width: 100%;
        background-color: lighten($grey, 20%);
        padding: 5px 15px;
        &+.list{margin-top: 10px;}
        h2{
            font-size: 1.3em;
            font-weight: 600;
            margin:0;
            margin-bottom: 5px;
        }
        li, ul{
            display: block;
        }
        li{@include clearfix; line-height: 21px;}
        .attr{float: left;}
        .value{float: right; font-weight: 600;}
        img{
            display: block;
            max-width: 100%;
            height: auto;
            margin-top: 10px;
        }
    }
}
.residence-list{}

/*-------------------------------ANNONCES LISTS-------------------------------*/
/*----------------------------------------------------------------------------*/

.pannel{
    overflow: hidden;
    .pannel-header{
        display: block;
        background-color: $blue;
        margin: 0 -5px;
        margin-top: -20px;
        h3{
            color: $white;
            font-weight: 600;
            font-size: 1.12em;
            margin: 0;
            padding: 10px 0;
            padding-left: 10px;
        }
    }
    .pannel-body{
        margin-top: 10px;
        padding: 0 15px;
        input[type="text"], select{height: 35px;}
        .input-group{min-height: auto; margin-bottom: 11px; &:last-child{margin-bottom: 0px;}}
        label{margin-bottom: 9px;}
        .input-group.table{
            .input-group-container{display: table; width: 100%; border-collapse: collapse;}
            .container-cell{
                display: table-cell;
                text-align: center;
                select{width: 100%;}
                &:nth-child(even){
                    width: 15%;
                }
                input[type="checkbox"]
                {display: inline-block; 
                 position: relative; 
                 margin-right: 6px; 
                 top: 1px;
                 -ms-transform: scale(1.2); /* IE */
                 -moz-transform: scale(1.2); /* FF */
                 -webkit-transform: scale(1.2); /* Safari et Chrome */
                 -o-transform: scale(1.2); /* Opera */
                }
                label{
                    display: inline;
                    font-weight: initial;
                    color: inherit;
                    margin-bottom: 0;
                }
            }
            &.checkbox{
                label, input[type="checkbox"]{cursor: pointer;}
                .input-group-container{
                    line-height: 25px;
                    .container-cell:fist-child{text-align: left;}
                    .container-cell:last-child{text-align: right;}
                }
            }
        }
    }
}

.search-result-entry{
    display: block;
    position: relative;
    @include pannel;
    margin-bottom: 15px;
    &>a{display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; }
    .entry-annonce-link{
        display: inline;
        color: $blue;
        font-size: 1.05em;
        font-weight: 600;
        &:hover{
            text-decoration: underline;
            color: lighten($blue, 15%);
        }
    }
    .menu-container{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        z-index: 10;
        button{
            display: inline-block;
            background: none;
            outline: 0;
            border: none;
            color: inherit;
            font-size: 1.9em;
            background-color: inherit;
        }
        .dropdown-links{
            position: absolute;
            @include pannel;
            margin: 0;
            display: none;
            top: 30px;
            right: 2px;
            width: 150px;
            z-index: 5;
            background-color: white;
            padding: 0px 10px;
            border: 1px solid rgba(218, 218, 218, 0.6);
            li{
                display: block; 
                color: darken($grey, 10%);
                font-size: 0.95em;
                text-transform: lowercase;
                &:hover{color: orange;}
                &:not(:last-child){border-bottom: 1px solid lighten($grey, 20%);}
                a{padding: 8px 5px;}
            }
        }
    }
    .entry-header{
        display: block;
        position: relative;
        padding: 5px 15px;
        .title{display: inline-block; margin: 0; font-size: 16px; line-height: 20px; color: white;}
        text-transform: uppercase;
        .location{text-transform: capitalize;}
    }
    &.minimized{.entry-body{
                    border-radius: 4px !important; border: 1px solid rgba(218,218,218,0.6);
                }}
    .entry-body{font-size: 12px; overflow: hidden; width: 100%;}
    &:not(.minimized) .entry-body{
        display: block;
        position: relative;
        width: 100%;
        border: 1px solid rgba(218,218,218,0.6);
        border-top: transparent;
        border-radius: 0 0 4px 4px;
        @include clearfix;
    }
    &:not(.minimized) .entry-body-row{display: block; width: 100%;}
    &.minimized{.infos-container{.title{display: none;}}}
    .image-container{ 
        background-color: #E6E5E3;
        overflow: hidden;
        img{
            display: inline-block;
            height: 100%;
            width: auto;
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
        }
    }
    &:not(.minimized) .image-container{
        display: block;
        float: left;
        width: 100%;
        height: 225px;
        img{
            height: 100%;
            width: auto;
        }
    }
    .mobile-details{
        display: block;
        margin-top: 5px;
        .location{color: $blue;}
        li{display: block; line-height: 20px;font-size: 0.95em; font-weight: 600;}
    }
    &:not(.minimized){
        .infos-container, .agency-container{
            height: 125px;
            padding: 10px 15px;
        }
        .infos-container{
            display: inline-block;
            width:50%;
            float: left;
        }
    }
    .infos-container{
        .title{font-size: 18px; margin: 10px 0 8px; .location{font-size: inherit;}}
    }
    .price, .details, .icons{
        font-weight: 600;
    }
    .price{
        font-size: 1.6em;
        color: $orange;
    }
    .icons{
        font-size: 1.2em;
        li{&:not(:last-child){margin-right: 5px;}}
        span[class^="icon-"]{
            position: relative;
            top: 4px;
            font-size: 1.1em;
        }
        .bedrooms{
            span[class^="icon-"]{font-size: 1.1em;}
        }
        .bathrooms{
            span[class^="icon-"]{font-size: 1.1em;}
        }
        .garages{
            span[class^="icon-"]{top: 6px;font-size: 1.25em;}
        }
    }
    .details{display: none;}
    .image-container-frame{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        @include clearfix;
    }
    .description{
        display: none;
        font-size: 1.1em;
        line-height: 20px;
        text-align: justify;
        text-align-last: left;
        margin: 0;
    }
    &:not(.minimized){
        .agency-container{
            display: inline-block;
            float: left;
            width: 50%;
        } 
        .links-container{
            display: block;
            position: absolute;
            top:0;
            right:0;
        }
    }
    .agency-container{
        position: relative;
        top: 0;
        right: 0;
        .btn-dropdown{display: block;}
        .links{display: block;}
        background-color: #F8F8F8;
        border-left: 1px solid rgba(218,218,218,0.6);
        .agency-container-frame{
            display: block;
            position: relative;
            margin: 0 auto;
            top: 0;
            right: 0;
            left: 0px;
            width: 100%;
            max-width: 200px;
            height: 100%;
            padding: 5px 0;
            overflow: hidden;
            a{
                display: block;
                height: 100%;
                text-align: center;
            }
        }
        img{
            display: inline-block;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            @include vertical-align-middle;
        }
        .links{
            display: none;
            position: relative;
            bottom: 0;
            right: 0;    
            width: 100%;
            li{
                border-top: 1px solid rgba(218, 218, 218, 0.6);
                display: block;
                a{
                    line-height: 20px;
                    font-size: 0.99em;
                    line-height: 20px;
                    padding: 9px 16px;
                    &:not(:last-child){margin-bottom: 5px;}
                    span{
                        margin-right: 4px;
                        top: 1px;
                        position: relative;
                    }
                }
            }
        }
    }
    &.no-agency{
        .agency-container{
            .links{
                bottom: auto;
                top: 0;
                border-bottom: 1px solid rgba(218, 218, 218, 0.6);
                li{border-top: none;}
                li:not(:first-child){
                    border-top: 1px solid rgba(218, 218, 218, 0.6);
                }
            }
        }
    }
    &.residence{
        &>.entry-body{
            border-radius: 0;
        }
        .details{
            font-size: 1.2em;
            margin-top: 5px;
            display: block;
            li{display: block;}
        }
        .immo-link{
            font-size: 1.3em;
            margin-bottom: 10px;
        }
        .residence-list{
            display: table;
            width: 100%;
            border-collapse: collapse;
        }
        .residence-item{
            display: table-row;
            border: 1px solid rgba(218, 218, 218, 0.6);
            &:nth-child(even){background-color: darken($light-grey, 1%);}
            .image, .infos{
                display: table-cell;
                position: relative;
                height: 100%;
            }
            .image{
                width: 160px;
                @include thumbnail;
            }
            .infos{padding: 10px 15px; font-size: 12px;}
            .title{margin: 0; font-size: 1.3em; font-weight: 600;}
            .details{font-size: 1em; vertical-align: middle; margin: 10px 0;}
            .icons{font-size: 1.2em; vertical-align: bottom; margin: 0;}
            .price, .immo-link{ position: absolute; right: 15px;}
            .price{
                font-size: 1.8em;
                top: 10px;
            }
            .immo-link{
                text-decoration: none;
                font-size: 1em;
                bottom: 10px;
                font-style: italic;
                font-weight: 600;
                margin: 0;
                span{
                    position: relative;
                    top: 1px;
                    text-decoration: none;
                    color: inherit;
                    font-size: 0.8em;;
                }
            }
        }
        .residence-footer{
            display: block;
            padding: 0 15px;
            background-color: lighten($grey, 15%);
            .immo-link{
                margin: 0;
                font-size: 1.2em;
                font-weight: 600;
                line-height: 35px;
                &, span{text-decoration: none;}
                span[class^='icon-']{
                    position: relative;
                    top: 1px;
                    font-size: 0.6em;
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }
}

/*-------------------------------AGENCY PANEL---------------------------------*/
/*----------------------------------------------------------------------------*/
.agency-header, .agency-entry{
    display: block;
    position: relative;
    border: 1px solid;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
    h1{
        color: $orange;
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
    }
    p{
        font-size: 0.85em;
        line-height: 20px;
        text-align: justify;
        text-align-last: left;
    }
}
.agency-header{
    max-width: 320px;
    width: 75%;
}
.agency-entry{
    @include pannel;
    padding: 5px;
    overflow: auto;
    height: 225px;
    max-height: 225px;
    display: block;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    .entry-row{
        display: table;
        height: 100%;
        border-collapse: collapse;
    }
    .logo-container, .infos-container, .map-container{
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        position: relative;
    }
    .logo-container, .map-container{width: 200px; min-width: 200px;}
    .map-container{width: 250px; min-width: 250px;}
    .logo-container{padding-left: 11px;}
    .infos-container{
        height: 100%;
        width: 100%; 
        padding: 0 15px;
        h2{
            margin: 0;
            color: darken($dark-grey, 10%);
            font-weight: 400;
            font-size: 1.4em;
            text-transform: uppercase;
            .location{text-transform: capitalize;}
        }
        p{
            margin: 25px 0;
            font-size: 1em;
            line-height: 20px;
        }
    }
    .map{
        display: block;
        min-height: 185px;
        width: 90%;
        margin: 0 auto;
        border: 1px solid #e5e5e5;
        border-radius: 2px;
    }
    .agency-color{
        display: block;
        position: absolute;
        height: 100%;
        width: 35%;
        z-index: 0;
        top: 0;
        left: 0;
    }
    .logo-frame{
        @include pannel;
        display: block;
        position: relative;
        padding: 15px;
        height: 185px;
        width: 185px;
        margin: 0 auto;
        border-radius: 2px;
        border: 1px solid #e5e5e5;
    }
    .logo{
        @include vertical-align-middle;
        img{
            display: inline-block;
            height: auto;
            width: auto;
            max-width: 100%;
        }
    }
}
.agency-entry, .agency-header{
    .btn-blue{
        display: block;
        text-transform: uppercase;
        height: 43px;
        line-height: 43px;
        padding: 0;
        margin-bottom: 10px;
        *[class^="icon-"]{font-size: 1.05em; position: relative; top: 2px; margin-right: 10px;}
    }
}
.agency-logo{
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: $white;
    @include box-shadow(1px 1px 10px 0px rgba(0,0,0,0.6));
    overflow: hidden;
    .agency-logo-frame{
        display: block;
        padding: 5px;
        height: 100%;
    }
    img{
        display: inline-block;
        width: auto;
        height: auto;
        max-width: 100%;
    }
}
.agency-header-container{
    @include clearfix;
    display: block;
    position: relative;
    background-color: $white;
    padding: 5px 20px;
}
.address-box{
    display: block;
    position: relative;
    width: 100%;
    float: right;
    background-color: $light-grey;
    border: 1px solid $grey;
    p{padding: 5px 10px; margin: 0 !important; font-weight: 600; font-size: 0.8em;}
    a{
        font-weight: 600;
        text-decoration: underline;
    }
}

.btn-social-list{
    @include spread-element($max-width: 210px);
    a{
        display: inline-block;
        height: 35px;
        width: 35px;
        line-height: 42px;
        font-size: 1.35em;
        text-align: center;
        color: white;
        @include transition($transitionUi);
        &.facebook{
            background-color: $facebook;
            &:hover{background-color: lighten($facebook, 10%);}
        }
        &.twitter{
            background-color: $twitter;
            &:hover{background-color: lighten( $twitter, 10%);}
        }
        &.google-plus{
            background-color: $google;
            &:hover{background-color: lighten( $google, 10%);}
        }
        &.pinterest{
            background-color: $pinterest;
            &:hover{background-color: lighten( $pinterest, 10%);}
        }
    }
}

/*----------------------------------JS MODULE---------------------------------*/
/*----------------------------------------------------------------------------*/

.dropdown{
    display: block;
    ul{
        display: none !important;
        &.open{
            display: block !important;
        }
    }
}