.rotate0{
    img{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
.rotate90{
    img{
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        width: 100%;
        height: auto;
    }
}
.rotate180{
    img{
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
.rotate270{
    img{
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        width: 100%;
        height: auto;   
    }
}

.lSPagerWrapper{
    @include clearfix;
    display: block;
    overflow: hidden;
}
.vertical .lSPagerWrapper{
    .lSAction>.lSPrev{
        background-position: 0 -31px;
        bottom: auto;
        top: 10px;
    }
    .lSAction>.lSNext {
        background-position: 31px -31px;
        bottom: 10px;
        top: auto;
    }
}

@include media(phone){
    .annonce-title{
        .annonce-price{font-size: 1.2em;}
    }
    .annonce-description p {
        text-align: justify;
        text-align-last: left;
    }
    .search-result-entry:not(.minimized){
        .infos-container-frame{
            @include vertical-align-middle();
        }
    }
    .search-result-entry.minimized{
        .entry-body{
            display: table;
            border-collapse: separate;
            .entry-body-row{display: table-row;}
        }
        .image-container{
            display: table-cell;
            position: relative;
            vertical-align: middle;
            height: 100%;
        }
        .infos-container{
            display: block;
            padding: 10px 15px;
            .price{margin-bottom: 6px;}
            .infos-container-frame>.title{
                font-size: 1.05em;
                line-height: 15px;
                .location{display: none;}
            }
        }
        .agency-container{
            display: block;
            height: 75px;
            padding: 5px;
            border-top: 1px solid rgba(218,218,218,1);
            background-color: #f8f8f8;
            .agency-container-frame{width: 85%;}
        }
        &.no-agency{.infos-container{width: 100%;} .agency-container{display: none;}}
        .image-container{width: 50%;}
        .image-container-frame{
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    .search-result-entry.residence .residence-item .price, .search-result-entry.residence .residence-item .immo-link {
        position: relative;
        top: auto;
        right: auto;
    }
    .search-result-entry.residence{
        .entry-body-row{
            .immo-link{display: none;}
        }
    }
    .agency-entry:not(.minimized){
        .logo-frame{
            width: 150px;
            height: 150px;
            margin: 10px auto 15px;
        }
    }
    #add-entry #step-list li{
        margin-left: 0 !important;
        &:not(.active){
            display: none;
        }
    }
    #add-entry .step-body {
        padding: 20px 10px;
    }
    form.form fieldset legend{margin-left: 0;}
    form.form .input[data-unit]:after{display: none;}
    button.previous, button.previous, button.next, button.next{
        &,&:focus, &:active{padding: 0 15px;}
    }
}
@include viewport(min, $min: 500){
    .search-result-entry{
        .icons{
            font-size: 1.3em;
            li{&:not(:last-child){margin-right: 15px;}}
        }
        .price {
            font-size: 1.9em;
            margin-bottom: 10px;
        }
        .mobile-details li {
            font-size: 1.15em;
        }
    }
}
@include media(tab){
    .info-container .label span:first-child{
        max-width: 299px;
    }
    h2{
        text-align: left;
    }
    .immo-main-annonce{
        display: table;
        &>a, .meta{
            display: table-cell;
        }
        &>a{width: 60%; padding-bottom: 0; border-bottom: none;}
        .data{border-bottom: none;}
        .meta{
            border-left: 1px solid rgba(218, 218, 218, 0.6);
            .menu-container{display: none;}
            .meta-links{
                display: block;
                position: absolute;
                width: 75%;
                margin: 0 auto;
                left: 0;
                right: 0;
                bottom: 10px;
            }
        }
    }
    .address{
        margin: 20px 0;
    }
    .about-section p{
        text-align: justify;
        text-align-last: left;
    }
    .annonce-title{
        font-size: 23px;
        h1{
            line-height: 27px;
        }
    }
    .infos-attributs .list {
        display: inline-block;
        max-width: 250px;
    }
    .search-banner-box{
        input[type="submit"]{
            top: 22px;
        }
        .clearfix .clearfix:last-child{
            .input-group:nth-child(n+2){margin-bottom: 0;}
        }
    }
    .search-result-entry.pro{
        .aside-container{
            display: table-cell !important;
            position: relative;
            vertical-align: middle;
            height: 100%;
            width: 50%;
            .infos-container, .agency-container{
                display: block !important;
                height: auto; 
                width: 100% !important;
                float: left !important; 
            }
            .infos-container{
                .agency-container-frame{
                    height: 80px;
                    max-width: 50%;
                    a{height: 100%; text-align: right;}
                    img{max-width: 100%; max-height: 100%;}
                }
            }
            .agency-container{
                padding: 0;
                .links{
                    position: relative;
                    @include clearfix;
                    li{
                        float: left; width: 33.33333333%;
                        height: 100%;
                        text-align: center;
                        &:not(:first-child){
                            border-left: 1px solid rgba(218,218,218,1);
                        }
                    }
                }
            }
        }
    }
    .search-result-entry{
        .entry-header{
            padding-left: 15px;
            h2.title{
                font-size: 17px;
                line-height: 24px;
            }
            .location{display: inline;}
        }
        .entry-annonce-link{display: inline;}
        .menu-container{display: none;}
        .entry-body{
            display: table !important;
            border-collapse: separate;
            min-height: 210px;
            height: 210px;
            .entry-body-row{display: table-row;}
        }
        .image-container, .infos-container, .agency-container{
            display: table-cell !important;
            position: relative;
            vertical-align: top;
            height: 100%;
        }
        .mobile-details{display: none;}
        .details{
            margin-bottom: 5px;
            li{margin-bottom: 5px;}
        }
        .description{display: block; display: -webkit-box;}
        .image-container{width: 240px !important; float: none !important;}
        &:not(.pro-plus) .agency-container{
            width: 166px !important;
            .agency-container-frame{width: 90%;}
            .links li a {padding: 9px 8px;}
        }
        .icons{
            margin-bottom: 15px;
        }
        .infos-container{
            padding: 10px 20px;
        }
        &:not(.pro-plus) .agency-container{
            .agency-container-frame{
                position: relative;
                display: block;
                height: 100%;
                max-height: 105px;
                z-index: 0;
            }
            .links{
                display: block;
                position: absolute; 
                z-index: 1;
                background-color: $light-grey;
            }
        }
        &.minimized .agency-container{
            .agency-container-frame{max-height: 75px; padding: 10px 0}
            a{padding: 0;}
            img{max-height: 55px;}
        }
        .agency-container{
            position: relative;
            float: none !important;
            background-color: #F8F8F8;
            border-left: 1px solid rgba(218,218,218,1);
        }
        .links{display: block;}
        .entry-annonce-link{text-align: right;}
        .details{
            display: block;
            font-size: 1.1em;
            li{
                display: inline-block;
                &:not(:last-child){
                    margin-right: 14px;
                    font-size: inherit;
                }
            }
        }
        &:not(.pro-plus){.infos-container{float: none !important; width: calc(100% - 200px - 166px) !important;}}
        &.pro,  &.pro-plus{
            .entry-body{
                min-height: 330px;
                height: 330px;
            }
        }
        &.pro-plus{
            .entry-body{background-color: $footer-grey;}
            .infos-container, .agency-container{
                display: inline-block !important;
                height: auto;
                width: 100%;
                background-color: transparent;
            }
            .infos-container{color: white; margin-bottom: 117px;}
            .agency-container{
                display: block;
                position: absolute;
                bottom: 0;
                top: auto;
                padding: 0;
                background-color: white;
                .links, .agency-container-frame{
                    display: inline-block;
                    position: relative;
                    width: 50%;
                }
                .links{float: right; border-left: 1px solid #dadada; a{padding: 9px 10px;}}
                .agency-container-frame{float:left; max-width: none; height: 117px;}
                img{margin: 0 auto; max-width: 90%;}
            }

        }
        &.minimized{
            .entry-body{min-height: 180px; height: 180px;}
            .infos-container{
                h2.title{
                    font-size: 1.416666666666667em;
                    line-height: 20px;
                }
            }
        }
        &.residence{
            .details{
                display: block;
                margin: 12px 0;
            }
            .residence-item{
                .immo-link{
                    display: block;
                } 
            }
            .residence-item{
                .image{
                    width: 150px;
                }
                .title{
                    font-size: 1.4em;
                    margin:0;
                }
            }
        }
    }
    .search-result-entry .infos-container{
        height: auto;
    }
    .agency-header{
        max-width: none;
    }
    .agency-entry{
        &:not(.minimized){
            .logo-frame{margin-left: 15px;}
        }
        &.minimized{
            p{margin-bottom: 0;}
            .btn-list{
                display: table-cell;
                vertical-align: middle;
                padding-left: 40px;
            }
            .logo{height: auto;}
        }
        .entry-row{
            display: table;
            border-collapse: collapse;
            table-layout: fixed;
        }
        .logo-container, .infos-container{
            display: table-cell;
            height: 100%;
            vertical-align: middle;
        }
        .logo-container{position: relative; width: 150px; min-width: 150px;}
        .logo-frame{
            height: 140px;
            width: 140px;
        }
        .agency-color{
            display: block;
        }
        .btn-list{display: block;}
        .infos-container{
            text-align: left;
            p{
                text-align: left;
                text-align-last: left; 
            }
        }
        .menu-container{
            display: none;
        }
        .agency-color {
            height: 100%;
            width: 50px;
            z-index: 0;
            top: 0;
            left: 0;
        }
    }
    #pro{
        .search-banner-box{
            margin-bottom: 10px;
            input[type="submit"]{top: 18px;}
        }
        .search-banner-box .input-group{
            min-height: 65px;
        }
    }
    .search-result-entry:not(.minimized):not(.pro-plus) .infos-container{
        padding: 10px 15px;
    } 
    .search-result-entry:not(.minimized):not(.pro-plus) .agency-container{
        padding: 0;
    }
    .search-banner-tabs ul{
        min-width: auto;
        li{
            width: 25%;
            a{width: 100%;}
        }
    }
    .page-title{
        h1, .page-options{
            display: table-cell; 
        }
        .page-options .btn-blue{
            margin-left: 20px;
        }
    }
}
@include media-exclusive(tab){
    .infos-attributs{
        div[class^="phone-"]{
            min-height: 77px;
        }
    }
    .agency-entry .infos-container {
        padding: 8px 15px;
    }
}
@include viewport(range, $max: 1055, $min: 855){
    .search-result-entry{
        .agency-container{
            width: 175px;
            .agency-container-frame{margin: 0 auto;}
        }
    }
}
@include viewport(max, $max: 1055){
    header{
        .container{
            width: 100%;
            padding: 0 25px;
        }
    }
    #annonce-details-right{
        max-width: 310px;
        margin: 0 auto;
    }
    footer .footer-links{
        text-align: center;
        img{
            margin: 0 auto;
        }
    }
    .content.list{
        .container{
            width: 100%;
        }
        .row{
            margin: auto;
        }
    }
    .agency-logo{
        width: 85%;
        max-width: 185px;
    }
    .btn-social-list{
        display: block;
        margin: 0 auto;
    }
}
@include media(desk){
    .info-container .label span:first-child{max-width: 255px;}
    .gallery-cell{width: 50%;}
    header{
        .header-bottom{
            padding: 20px 0 15px;
            .header-bottom-buttons{
                position: relative;
                top: 18px;
            }
        }
        .logo{
            height: auto;
            width: 220px;
            max-width: 100%;
            img{max-width: 100%; max-height: 100%;}
        }
    }
    .main-nav{
        margin-left: 20px;
        li{
            padding: 0 12px;
        }
    }
    .search-banner{
        height: 430px;
        .row{
            height: 100%;
        }
    }
    .search-banner .search-banner-box:not(.search-banner-box--extended){@include vertical-align-middle(absolute);}
    .search-banner-box{
        input[type="submit"]{
            top: 22px;
        }
        .clearfix .clearfix:last-child{
            .input-group{margin-bottom: 0;}
        }
    }
    .annonce-title{
        margin: 10px 0;
        font-size: 24px;
    }
    .search-result-entry{
        .details{
            margin-bottom: 5px;
            li{margin-bottom: 0;}
        }
        .image-container{border-right: 1px solid rgba(218,218,218,1);}
        &:not(.pro-plus) .infos-container{
            width: calc(100% - 257px - 175px) !important;
        }
        &:not(.pro-plus) .agency-container{
            width: 175px !important;
            .links li a {padding: 9px 16px;}
        }
    }
    .agency-logo{
        display: block;
        position: absolute;
        top: -5px;
        left: 5px;
        width: 150px;
        z-index: 1;
    }
    .agency-header{
        padding: 40px 0 0 125px;
        .btn-blue{
            padding: 5px 20px;
        }
    }
    .agency-entry{
        &:not(.minimized){
            height: 210px;
            max-height: 210px;
            .logo-frame{
                height: 150px;
                width: 150px;
            }
        }
        &.minimized{
            .logo-frame{
                height: 100%;
                width: 150px;
            }
        }
        .btn-blue{
            padding: 5px 10px;
        }
        .btn-map{
            display: none;
        }
        .infos-container{
            h2{
                font-size: 1.2em;
                @include multiLineEllipsis($lineHeight: 25px, $lineCount: 1);
            }
            p{font-size: 0.85em;}
        }
        .map-container {
            display: table-cell;
            height: 100%;
            vertical-align: middle;
            width: 200px;
            min-width: 200px;
        }
    }
    .agency-header, .agency-entry{
        width: 100%;
        p{margin: 10px 0;}
        h1{text-align: left; font-size: 1.6em;}
        .btn-blue{
            display: inline-block;
            font-size: 0.85em;
            line-height: 25px;
            height: auto;
            margin-bottom: 0;
        }
    }
    .agency-header-container{padding: 5px;}
    #annonce-details-left, #annonce-details-right, .pannel, .agency-header, .agency-entry{
        margin-bottom: 15px;
    }
    .search-result-entry:not(.minimized) .infos-container, .search-result-entry:not(.minimized) .agency-container {
        /*height: 226px;*/
    }

    form.form{
        .pannel{padding: 20px 40px !important;}
        .input-group{
            display:table;
            width: 100%;
            &.sub-input{ label{padding-left: 10px;}}
            &>label:not(.error), &>input,&>select, &>.input, &>div{display: table-cell !important; vertical-align: middle; width: auto;}
            &>div{line-height: 25px;}
            &>label:not(.error){padding-right: 10px; width: 40%; padding-bottom: 0;}
            &>input, &>select, &>.input{width: 100%;}
            &.multiple-lines{
                label:not(.error){vertical-align: top;}
            }
        }
    }
    #add-entry #options .table-cell{
        display: table-cell;
        width: auto;
    }
    #add-entry #options{
        .table .table-cell:first-child{
            width: 30%;
        }
        .option-infos{
            text-align: left;
            padding-right: 20px;
            margin-bottom: 0;
        }
    }
    .search-banner-tabs ul{
        min-width: auto;
        li{
            width: auto;
            a{width: 135px;}
        }
    }
    #add-entry #options .table.selected{border-top: none; border-left: 7px solid $orange;}
}
@include media(lgdesk){
    .info-container .label span:first-child{
        max-width: 313px;
    }
    .main-nav{
        margin-left: 65px;
        li{
            padding: 0 25px;
        }
    }
    .search-result-entry{
        .price{
            font-size: 2.1em;
            margin-bottom: 5px;
        }
        .image-container{
            width: 280px !important;
        }
        &:not(.pro-plus) .agency-container{
            width: 200px !important;
            .links li a {padding: 7px 15px;}
        }
        .icons{
            margin-bottom: 5px;
        }
        &.pro{
            .image-container{
                width: 440px !important;
            }
        }
        &.pro-plus{
            .entry-body{
                height: 450px;
                min-height: 450px;
            }
            .image-container{
                width: 600px !important;
            }
        }
    }
    .search-result-entry:not(.pro-plus){
        .infos-container{width: calc(100% - 245px - 200px) !important;}
    }
    .search-result-entry.minimized{
        .image-container{
            width: 240px !important;
        }
    }
    .agency-header{
        padding: 30px 0 0 135px;

    }
    .agency-entry{
        h2 {
            text-align: left;
            font-size: 1.8em;
            margin: 15px 0;
        }
        .logo-frame{
            height: 185px;
            width: 185px;
        }
        .map-container {
            width: 250px;
            min-width: 250px;
        }
        &:not(.minimized){
            .infos-container p{
                margin: 25px 0;
            }
        }
    }
    .agency-logo {
        top: 10px;
        left: 20px;
    }
    .search-result-entry .agency-container .links li a{font-size: 1.10em;}
}