@include media(phone){}
@include media(tab){}
@include viewport(max, $max: 1055){
    header{
        .container{
            width: 100%;
            padding: 0 30px;
        }
    }
}
@include media(desk){
    header{
        .header-bottom{
            padding: 25px 0;
        }
        .logo{
            height: 100%;
            width: auto;
            max-width: 100%;
            img{height: 100%; width: auto;}
        }
    }
    .main-nav{
        margin-left: 25px;
        li{
            padding: 0 15px;
        }
    }
}
@include media(lgdesk){
    .main-nav{
        margin-left: 65px;
        li{
            padding: 0 25px;
        }
    }
}