/*----------------------------------------------ANNONCES DETAILS---------------------------------------------*/
@-moz-document url-prefix() {
    @page { margin: 0; }
}
header, footer, .residence-list, a, .btn-blue, .btn-orange, .group-input, .lSPager.lSGallery, .lSAction, .orange.phone-mt-5.phone-mb-0, form,footer, .content:after, .annonce-details-user-container.phone-mt-20{display: none !important;}
.lSSlideOuter{padding: 0 !important;}
.lSSlideOuter.vertical .lightSlider>* {
    width: 50%!important;
    max-width: none!important;
    img{max-height: 100%; max-width: 100%;}
}
#annonce-details-left, #annonce-details-right, .pannel{
    @include box-shadow(none !important);
    border: none;
}
body{
    max-height: 100vh;
}
.annonce-description{text-align: justify; text-align-last: left;}
.annonce-description, .infos-attributs{border: none;}
#annonce-details-left, #annonce-details-right, .pannel{background: none;}
#annonce-details-left{width: 100% !important; display: inline-block; float: left;}
#annonce-details-right{padding-bottom: 0;}
#annonce-details-right .annonce-details-user-container{
    width: 100%;
    max-width: initial;
    margin: 0;
}
.address{margin-bottom: 0;}
#siteWrap{
    background: none;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    #content{height: 100%; width: 100%; background: none;}
}
.shape-grey{
    position: absolute;
    right: 0;
    width: 40%;
    height: 100vh;
    img{position: absolute; display: inline-block; margin: 0 auto; max-width: 100%; max-height: 100%; bottom: 30px; left: 0; right: 0;}
}
.annonce-details-images-container, #image-gallery{
    width: 100%;
}
#annonce-infos, #annonce-details-right{
    display: inline-block;
    float: left;
    padding: 0 20px;
}
#annonce-infos{width: 60%; padding-left: 0;}
#annonce-details-right{width: 40%; background-color: lighten($grey, 12%); padding-right: 0;}
.infos-attributs .list{
    background: none;
    padding: 0;
    li{
        display: table;
        width: 100%;
        min-height: 40px;
        border-bottom: 1px solid $grey;
        font-size: 16px;
        padding: 5px 0;
        span{display: table-cell; vertical-align: middle;}
        .label{text-align: left;}
        .data{
            color: $section-black; text-align: right; font-weight: 800;
            img{
                display: inline;
            }
        }
    }
}
#image-gallery{
    height: 7.875cm;
    border: none;
    background-color: lighten($grey, 12%);
    display: flex;
    justify-content: space-between; 
    li{
        width: 50%;
        height: 100%;
        background-color: white;
    }
}
.annonce-print-title, .annonce-print-price{
    font-size: 24px;
    h1, .annonce-print-price-container{font-size: 1em; line-height: 30px; margin: 0;}
    .type{line-height: 35px;}
    span{display: block;}
}
.annonce-print-title{
    color: $blue;
    text-align: left;
    .location{
        font-size: 1.1em;
        font-weight: 600;
        text-transform: uppercase;
    }
    .type, .ref{font-weight: 400;}
    .type{color: $section-black; }
    .ref{color: $dark-grey;}
    .ref{font-size: 0.7em;}
}
.annonce-print-price{
    text-align: right;
    color: $orange;
    font-weight: 800;
    .price{
        font-size: 1.4em;
    }
}
.list .label, .address, .contact{
    color: darken($dark-grey, 17%);
}
.logo{margin-top: 40px;}
.address, .contact{
    display: block;
    margin: 40px 0 !important;
    font-size: 16px;
    li{
        &.extra-bold{color: $section-black;}
        display: block;
        line-height: 25px;
    }
}
.contact li:last-child{
    text-decoration: underline;
}

.landscape{
    #image-gallery{
        background-color: white;
        li{background-color: lighten($grey, 12%);}
    }
    .annonce-print{
        height: 100vh;
    }
    .annonce-print, #annonce-details-right{
        display: inline-block;
        float: left;
    }
    .annonce-print{
        width: 100%;
        #annonce-details-right{
            width: 25%;
        }
        .left{
            float: left;
            display: inline-block;
            width: 75%;
        }
    }
    #annonce-infos{
        width: 50%;
        padding-left: 0;
        &+.annonce-description{
            display: inline-block;
            padding-right: 30px;
            padding-left: 10px;
            float: left;
            width: 50%;
            margin-top: 0;
            p{margin: 0; font-size: 14px;}
        }
    }
    #annonce-details-right{
        position: relative;
        padding-top: 20px;
        padding-right: 20px;
        height: 89vh;
        border-radius: 0px $border-radius $border-radius $border-radius;
        &>img{position: absolute; display: inline-block; margin: 0 auto; max-width: 100%; max-height: 100%; bottom: 30px; left: 0; right: 0;}
        .ref{text-align: right; font-size: 16px; color: darken($dark-grey, 17%);}
    }
}